.blogContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
    // border: 2px solid white;

    .blog{
        width: 95vw;
        display: flex;
        justify-content: space-around;

        .blogContent{
            width: 70%;
            border: 10px solid #BD4B4B;
            background-color: #BD4B4B;
            margin: 10px;

            .blogImage{
                border: 2px solid white;
                padding: 20px;
                width: 80%;
                margin: 0 auto;
                height: 400px;
                margin-bottom: 30px;

                img{
                    width: 100%;
                    height: 100%;
                }
            }

            h4{
                margin: 0;
                padding: 10px 0 0;
                text-align: left;
                margin-left: 50px;
            }

            .content{
                width: 90%;
                margin: 30px auto;
                padding: 0 20px; 
                text-align: justify;
                word-spacing: 2px;
                line-height: 22px;
                font-weight: 500;
            }
        }

        .blogAside{
            width: 25%;
            height: 300px;
            border: 10px solid #BD4B4B;
            background-color: #BD4B4B;
            // color: white;
            margin: 10px;

            .linkBox{
                margin: 10px;

                .link{
                    color: white;
                    text-decoration: none;
                    // padding: 10px;
                }
            }
            
        }
    }
}