.modalContainer{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.411);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal{
        z-index: 10;
        border: 2px solid white;
        background-color: white;
        color: black;
        width: 500px;
        min-height: 100px;
        position: fixed;
        font-size: 30px;

        @media (max-width: 520px) {
            width: 90vw;
        }
    }
}